@define-color black #0d0c0c;
@define-color red #c4746e;
@define-color green #8a9a7b;
@define-color yellow #c4b23a;
@define-color blue #8ba4b0;
@define-color magenta #a292a3;
@define-color cyan #7aa89f;
@define-color white #c8c093;
@define-color bright-black #727169;
@define-color bright-red #e46876;
@define-color bright-green #87a987;
@define-color bright-yellow #e6c384;
@define-color bright-blue #7fb4ca;
@define-color bright-magenta #938aa9;
@define-color bright-cyan #a3d4d5;
@define-color bright-white #c5c9c5;

* {
    font-family: "SauceCodePro Nerd Font Medium";
    font-size: 16px;
    font-weight: 400;
}

window#waybar {
    background-color: transparent;
}

#workspaces button, .modules-right .module {
    background-color: alpha(@black, 0.8);
    border-radius: 2px;
    padding: 8px 16px;
    margin-left: 8px;
}

#menu {
    background-color: alpha(@black, 0.8);
    padding: 0 8px;
}

#custom-launcher, .option label {
    padding: 8px;
}

.option label {
    margin-left: 8px;
}

.option:first-child label {
    margin-left: 0;
}

#workspaces button {
    color: @bright-black;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.active {
    color: @bright-white;
}
